<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177830924286-hb5ogs9onhskkdrmmvc811ipkrfiaga0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177830924286-hb5ogs9onhskkdrmmvc811ipkrfiaga0</string>
	<key>API_KEY</key>
	<string>AIzaSyDF9SVnckJI7lhorp4GuLSmn1EeiTy5r7U</string>
	<key>GCM_SENDER_ID</key>
	<string>177830924286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotz.test</string>
	<key>PROJECT_ID</key>
	<string>dotz-11aaa</string>
	<key>STORAGE_BUCKET</key>
	<string>dotz-11aaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177830924286:ios:4b4cf36a51069b0a2d3aaf</string>
</dict>
</plist>